<div *ngIf="!binding.hide">
    <span class="chip">
        <span class="chip-content">Demo UI: Autocomplete</span>
    </span>
    <button mat-raised-button color="primary" (click)="openDialog()">BINDING</button>
</div>

<br>
<mat-form-field>
    <input type="text" placeholder="{{binding.title}}" matInput [formControl]="formControl" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option disabled class="loading" *ngIf="loading">
        <mat-spinner diameter="35"></mat-spinner>
      </mat-option>
      <mat-option *ngFor="let item of (autoFilter | async)?.expansion?.contains"
        [value]="item.display"
        (click)="optionSelected({ code: item.code, display: item.display, annotation: binding.annotations[item.code], definition: '' })">
        <span class="code">{{item.code}}</span>{{item.display}}
        <img src="assets/img/ilae-logo.png" alt="image" class="small-logo" *ngIf="binding.annotations[item.code]">
      </mat-option>
    </mat-autocomplete>
</mat-form-field>
<p *ngIf="selectedConcept.code" class="annotation">
  {{selectedConcept.code}} |{{selectedConcept.display}}|
</p>
<img [src]="'assets/img/' + logo" alt="image" class="normal-logo" *ngIf="hasLogo">
<div *ngIf="loadingDefinitions">
  <mat-spinner diameter="35"></mat-spinner>
</div>
<div *ngIf="!loadingDefinitions" class="annotation">
  <div [innerHTML]="selectedConcept.definition"></div>
  <div [innerHTML]="selectedConcept.annotation"></div>
</div>